<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap">
</head>
    <body>
        <section class="menu">
            <nav class="thenav" >
                <div class="nav-links"*ngIf="showMe">
                    <a href=""><img src="../assets/tut-logo.png"></a>
                    <h1>Tshwane varsity hackathon 2022</h1>
                  <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="rules">Rules</a></li>
                    <li><a href="public-annoucement">Announcements</a></li>
                    <li><a href="public-gallery">Gallery</a></li>
                    <li><a href="rewards">Rewards</a></li>
                    <li><a href="public-teams">Team</a></li>
                  </ul>
                </div>
                <i class="las la-bars" (click)="theMenu()"></i>
            </nav>
        </section>

        <div class="container">
            <form action="">
                <div class="name-surname">
                  <input type="text" placeholder="Full Names">
                  <input type="text" placeholder="Surname">
                </div>
                <div class="theAge">
                  <input type="text" placeholder="Age">
                </div>
                <br>
                <br>
                <select class="the-gender">
                  <option value="choose">Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
                <br>
                <input type="text" placeholder="Student Number">
                <br>
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Cell Number">
                <br>
                <br>
                <br>
                <select class="your-insti">
                  <option value="choose">Faculty</option>
                  <option value="tut"> Faculty Of Information And Communication Technology</option>
                  <option value="up">Faculty Of Management Sciences</option>
                  <option value="smu">Faculty Of Arts And Design</option>
                </select>
                <br>
                <input type="text" placeholder="Specialisation">
                <br>
                <br>
                <br>
                <select class="your-insti">
                  <option value="choose">Level</option>
                  <option >First Year</option>
                  <option >Second Year</option>
                  <option >Final Year</option>
                </select>
                <br>
                <br>
                <br>
                <select class="your-insti">
                  <option value="choose">Campus</option>
                  <option value="sos">Soshanguve Campus</option>
                  <option value="ema">Emalahleni Campus</option>
                  <option value="pre">Pretoria Campus</option>
                  <option value="art">Art Campus</option>
                  <option value="plk">Polokwane Campus</option>
                </select>
                <br>
                <br>
                <br>
                <select class="your-insti">
                  <option value="choose">Role</option>
                  <option >Analyst</option>
                  <option >Frontend Developer</option>
                  <option >Backend Developer</option>
                  <option >Graphic designer</option>
                  <option >Marketer</option>
                </select>
                    <br>
                    <br>
                <button class="btn" type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>