@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap";
@media (min-width:1920){

}
@media (max-device-width : 1370px){
  *{ margin: 0;
    padding: 0;
  }
  .nav-links{
    display: flex;
    justify-content:center ;
    align-items: right;
    background: #fff;
    position: sticky;
    top: 0;

}
nav img{
  width: 70px;
  margin-left: -180px;
  margin-top: 5px;
}
.nav-links ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.nav-links ul li{
    font-family: Arial;
    font-size: 18px;
    position: relative;
    right: -28%;

}
.nav-links h1{
  color: #003782;
  margin-top: 15px;
  position: relative;
  left: -8%;
}
.nav-links ul li a{
    text-decoration: none;
    color: #003782;
    padding: 8px 12px;
    transition: all .5s ease;
}
.nav-links ul li a:hover{
    background-color: #003782;
    border-radius: 3px;
    color: #fff;

}
.container{
  width: 100%;
  height: 130vh;
}
.container input{
  width: 30%;
  margin-left: 40px;
  margin-top: 40px;
}
.container input[type="text"]
{
  border: 1px solid #000;
  width: 30%;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
}
.theAge input[type="text"]
{
  border: 1px solid #000;
  width: 6%;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
}
select{
  padding-top: 5px;
  border-radius: 5px;
  border: 1px solid #000;
  height: 35px;
  width: 31%;
  font-size: 18px;
  margin-left: 40px;
}
.btn{
  background-color: #003782;
  color: #fff;
  font-size: 18px;
  width: 100px;
  outline: none;
  border: none;
  height: 40px;
  margin-left: 40px;

}
.btn:hover{
  background-color: #002252;
  cursor: pointer;
}

}
