@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap";
*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.table{
    border-collapse: collapse;
    overflow: hidden;
    width: 100%;
    text-align: center;
    margin-top: 1px;
}
.table thead tr th{
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 13px;
}
.table thead th,
.table tbody td{
    padding: 5px 1px; 
    font-size: 16px;
}
.detail-header label{
    font-size: 26px;
    font-weight: 100;
}
.la-file-download{
    font-size: 25px;
    padding-right: 7px;
    font-weight: bolder;
}
.mat-card{
    left: 10%;
    margin-top: 10px;
    width: 90%;
    height: 100%;
}
.btn_excel{
    left: 80%;
    margin-bottom: 20px;
    font-size: 15px;
}