<!DOCTYPE html>
<html lang="en">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Page</title>

</head>
<body>
  <section>
    <nav class="thenav" >

      <div class="nav-links"*ngIf="showMe">

        <a href=""><img src="../assets/tut-logo.png"></a>
        <h1>Tshwane varsity hackathon 2022</h1>
        <ul >
          <li><a href="">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="rules">Rules</a></li>
          <li><a href="public-annoucement">Announcements</a></li>
          <li><a href="home">Gallery</a></li>
          <li><a href="public-rewards">Rewards</a></li>
          <li><a href="public-teams">Team</a></li>

        </ul>

      </div>
      <i class="las la-bars" (click)="theMenu()"></i>
    </nav>
  </section>
  <section>
  <br>
  <br>

  <div class="main">
  <h1>What is TVH?</h1>
  <p>The Tshwane Varsity Hackathon is a hacking competition that is organisedby the Tshwane University Of Technology's<br>
  faculty of information and communication  technology and research and innovation office.
  <br>
  <br>
  On the day of Hackathon, participants will be requested to come up with solutions to certain real-life problems by using technology.<br>
  Each team will be allocated a mentor/coach to work with during the duration of the hackathon.
  </p>
  </div>
  </section>
  <section>
  <div class="horizontal-line"></div>
  </section>
  <section class="para">
    <p>The Tshwane Varsity Hackathon is open to students from Tshwane University Of Technology.</p>

  </section>
  <section>
    <p>NO APPLICATION FEE REQUIRED.</p>
    <br>
    <p>Teams will be formed during the workshop day.</p>
    <h2>What do you need?</h2>
    <p>You will need your laptop/desktop and internet connection to connect to the online event.</p>
  </section >
</body>
<app-footer></app-footer>
</html>