@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap";
@media only screen and (max-width: 600px) {
  *{ margin: 0;
    padding: 0;
  }
nav img{
  width: 35px;
  margin-left: -80px;
  margin-top: 2px;
}

.nav-links ul li{
  display: block;
  padding: 5px;

}
.nav-links{
  position: absolute;
  background: #003782;
  color:#fff;
  height: 70vh;
  width: 200px;
  top:0;
  right: 0;
  text-align: left;
  z-index: 2;
}

nav .las{
  display: block;
  color: #e6b012;
  margin: 10px;
  font-size: 23px;
  font-weight: bold;
  cursor: pointer;
}

.nav-links h1{

  color: #003782;
  margin-top: -47px;
  position: relative;
  left: -22%;
  font-weight: bold;
  font-size: 13px;
}
.nav-links ul li a{

    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding: 8px 12px;
}
/* Rewards CSS */
.container{
  text-align: center;
}
.title h1{
  font-size: 75px;
  color: #003782;
  font-weight: bold;
  border: 1px;
  background-color: #e6b012;
  padding: 30px;
  width: 45%;
  height: 15%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 45%;
}
.sub-title h2{
  font-size: 30px;
  font-weight: bold;
  padding: 30px;
  width: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 60%;
}
.body h3{
  padding: 10px;
  width: 15%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 70%;
  font-size: 20px;
  font-weight: bold;
  background-color: #003782;
  color: #fff;
  border-radius: 25px;
}



}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  *{ margin: 0;
    padding: 0;
  }
  .nav-links{
    display: flex;
    justify-content:center ;
    align-items: right;
    background: #fff;
    position: sticky;
    top: 0;

}
nav img{
  width: 70px;
  margin-left: -180px;
  margin-top: 5px;
}
.nav-links ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.nav-links ul li{
    font-family: Arial;
    font-size: 18px;
    position: relative;
    right: -28%;

}
.nav-links h1{
  color: #003782;
  margin-top: 15px;
  position: relative;
  left: -8%;
}
.nav-links ul li a{
    text-decoration: none;
    color: #003782;
    padding: 8px 12px;
    transition: all .5s ease;
}
.nav-links ul li a:hover{
    background-color: #003782;
    border-radius: 3px;
    color: #fff;
}
/* Rewards CSS */
.container{
  text-align: center;
}
.title h1{
  font-size: 75px;
  color: #003782;
  font-weight: bold;
  border: 1px;
  background-color: #e6b012;
  padding: 30px;
  width: 45%;
  height: 15%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 45%;
}
.sub-title h2{
  font-size: 30px;
  font-weight: bold;
  padding: 30px;
  width: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 60%;
}
.body h3{
  padding: 10px;
  width: 15%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 70%;
  font-size: 20px;
  font-weight: bold;
  background-color: #003782;
  color: #fff;
  border-radius: 25px;
}


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  *{ margin: 0;
    padding: 0;
  }
  .nav-links{
    display: flex;
    justify-content:center ;
    align-items: right;
    background: #fff;
    position: sticky;
    top: 0;

}
nav img{
  width: 60px;
  margin-left: 1px;
  margin-top: 5px;
}
.nav-links ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.nav-links ul li{
    font-family: Arial;
    font-size: 18px;
    position: relative;
    right: 2%;

}
.nav-links h1{
  color: #003782;
  margin-top: 15px;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  left: 1%;
}
.nav-links ul li a{
    text-decoration: none;
    color: #003782;
    padding: 8px 12px;
    transition: all .5s ease;
    font-size: 13px;
}
.nav-links ul li a:hover{
    background-color: #003782;
    border-radius: 3px;
    color: #fff;
}
/* Rewards CSS */
.container{
  text-align: center;
}
.title h1{
  font-size: 75px;
  color: #003782;
  font-weight: bold;
  border: 1px;
  background-color: #e6b012;
  padding: 30px;
  width: 45%;
  height: 15%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 45%;
}
.sub-title h2{
  font-size: 30px;
  font-weight: bold;
  padding: 30px;
  width: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 60%;
}
.body h3{
  padding: 10px;
  width: 15%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 70%;
  font-size: 20px;
  font-weight: bold;
  background-color: #003782;
  color: #fff;
  border-radius: 25px;
}


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  *{ margin: 0;
    padding: 0;
  }
  .nav-links{
    display: flex;
    justify-content:center ;
    align-items: right;
    background: #fff;
    position: sticky;
    top: 0;

}
nav img{
  width: 70px;
  margin-left: -140px;
  margin-top: 5px;
}
.nav-links ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.nav-links ul li{
    font-family: Arial;
    font-size: 18px;
    position: relative;
    right: -28%;

}
.nav-links h1{
  color: #003782;
  margin-top: 15px;
  position: relative;
  left: -6%;
}
.nav-links ul li a{
    text-decoration: none;
    color: #003782;
    padding: 8px 12px;
    transition: all .5s ease;
}
.nav-links ul li a:hover{
    background-color: #003782;
    border-radius: 3px;
    color: #fff;
}
/* Rewards CSS */
.container{
  text-align: center;
}
.title h1{
  font-size: 75px;
  color: #003782;
  font-weight: bold;
  border: 1px;
  background-color: #e6b012;
  padding: 30px;
  width: 45%;
  height: 15%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 45%;
}
.sub-title h2{
  font-size: 30px;
  font-weight: bold;
  padding: 30px;
  width: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 60%;
}
.body h3{
  padding: 10px;
  width: 15%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 70%;
  font-size: 20px;
  font-weight: bold;
  background-color: #003782;
  color: #fff;
  border-radius: 25px;
}





}
@media only screen and (min-width: 1200px) {
*{ 
  margin: 0;
  padding: 0;
}
.nav-links{
  display: flex;
  justify-content:center ;
  align-items: right;
  background: #fff;
  position: fixed;
  top: 0;
}
nav img{
  width: 72px;
  margin-left: 12px;
  margin-top: 5px;
}
.nav-links ul{
    display: flex;
    list-style: none;
    margin: 20px 400px;
}
.nav-links ul li{
    font-family: Arial;
    font-size: 18px;
    position: relative;
    right: -25%;

}
.nav-links h1{
  color: #003782;
  margin-top: 15px;
  position: relative;
  left: 1%;
  font-size: 24px;
}
.nav-links ul li a{
    text-decoration: none;
    color: #003782;
    padding: 8px 12px;
    transition: all .5s ease;
    font-size: 19px;
}
.nav-links ul li a:hover{
    background-color: #003782;
    border-radius: 3px;
    color: #fff;
}

/* Rewards CSS */
.container{
  text-align: center;
}
.title h1{
  font-size: 75px;
  color: #003782;
  font-weight: bold;
  border: 1px;
  background-color: #e6b012;
  padding: 30px;
  width: 45%;
  height: 15%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 45%;
}
.sub-title h2{
  font-size: 30px;
  font-weight: bold;
  padding: 30px;
  width: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 60%;
}
.body h3{
  padding: 10px;
  width: 15%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 70%;
  font-size: 20px;
  font-weight: bold;
  background-color: #003782;
  color: #fff;
  border-radius: 25px;
}


}
