<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section class="menu">
    <nav class="thenav">

      <div class="nav-links">
        <a href="home"><img src="../assets/tut-logo.png"></a>
         <h1>Tshwane Varsity Hackathon 2022</h1>
        <ul>
          <li><a href="home">Home</a></li>
          <li><a href="about">Onboarding</a></li>
          <li><a href="rewards">About</a></li>
          <li><a href="gallery">Announcements</a></li>
          <li><a href="gallery">Participants</a></li>
        </ul>
      </div>

    </nav>
  </section>
  <p>The future is a continuous construct of every now and before. Have a look at our before and let us create our now together at the Tshwane Varsity Hackathon 2022.</p>
    <iframe width="500" height="315" 
src="https://www.youtube.com/embed/K__4bi7P6AM?autoplay=1&mute=1">
</iframe>
  <div class="container1">
   
  <ul class="slideshow">
    <li><span></span></li>
    <li><span>2</span></li>
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li> 
  </ul>
  <a href="https://www.flickr.com/photos/kasicat/albums/72157702195281405" class="button">More 2018 Hackathon Images</a>

  <ul class="slide">
    <li><span></span></li>
    <li><span>2</span></li>
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li>
  </ul>
  <a href="https://www.flickr.com/photos/kasicreate-a-thon/albums/with/72157711155428913" class="button">More 2019 Hackathon Images</a>
</div>
</body>
</html>


<router-outlet></router-outlet>