<!DOCTYPE html>
<html lang="en">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TVH WEBSITE</title>

</head>
<body>
  <section class="menu">
    <nav class="thenav" >
      <a href=""><img src="../assets/tut-logo.png"></a>
      <h1>Tshwane varsity hackathon 2022</h1>
      <div class="nav-links">


        <ul >
          <li><a href="">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="rules">Rules</a></li>
          <li><a href="public-annoucement">Announcements</a></li>
          <li><a href="public-gallery">Gallery</a></li>
          <li><a href="rewards">Rewards</a></li>
          <li><a href="public-teams">Team</a></li>

        </ul>

      </div>
      <!-- <i class="las la-bars" (click)="theMenu()"></i> -->
    </nav>
  </section>

</body>
</html>
