*{
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   padding: 0;
}
.header{
   margin-bottom: 15px;
   color: rgb(95, 93, 93);
}
.mat-dialog-content{
   font-size: 20px;
   margin-bottom: 10px;
}